{% extends 'template.html' %}
{% block content %}

<div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Editar el proyecto</h1>
            <p class="mb-0">Formulario para editar un proyecto existente</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Inicio</a></li>
          <li class="current">Editar Proyecto</li>
        </ol>
      </div>
    </nav>
</div><!-- End Page Title -->

<div class="container mt-5">
    <h2>Formulario para Editar Proyecto</h2>
    <form class="row g-3" method="post" action="/proyecto/editar">
      <input type="hidden" name="id" value="{{ lista.idProyecto }}">
        <div class="form-group">
            <label for="nombreProyecto">Nombre del Proyecto</label>
            <input type="text" class="form-control" name="nombreProyecto" required value="{{ lista.nombreProyecto }}">
        </div>
        <div class="form-group">
            <label for="inversion">Inversión</label>
            <input type="number" class="form-control" name="inversion" step="0.01" required value="{{ lista.inversion }}">
        </div>
        <div class="form-group">
            <label for="tiempoVida">Tiempo de Vida (años)</label>
            <input type="number" class="form-control" name="tiempoVida" required value="{{ lista.tiempoVida }}">
        </div>
        <div class="form-group">
            <label for="fechaInicio">Fecha de Inicio</label>
            <input type="date" class="form-control" name="fechaInicio" required value="{{ lista.fechaInicio }}">
        </div>
        <div class="form-group">
            <label for="fechaFin">Fecha de Fin</label>
            <input type="date" class="form-control" name="fechaFin" required value="{{ lista.fechaFin }}">
        </div>
        <div class="form-group">
            <label for="ElectricidadGenerada">Electricidad Generada por Día (MW)</label>
            <input type="number" class="form-control" name="ElectricidadGenerada" step="0.01" required value="{{ lista.ElectricidadGenerada }}">
        </div>
        <div class="form-group">
            <label for="costoTotal">Costo Total</label>
            <input type="number" class="form-control" name="costoTotal" step="0.01" required value="{{ lista.costoTotal }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>

{% endblock %}
