{% extends 'template.html' %}
{% block content %}
  <!-- Projects Section -->
  <section id="projects" class="projects section">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <h2 class="text-center mb-4">Lista de Proyectos</h2>
                <table class="table table-striped table-bordered table-hover table-responsive-lg text-center shadow-lg rounded">
                    <thead class="table-dark">
                        <tr>
                            <th class="align-middle">#</th>
                            <th class="align-middle">Nombre del proyecto</th>
                            <th class="align-middle">Inversión</th>
                            <th class="align-middle">Tiempo de Vida</th>
                            <th class="align-middle">Fecha de Inicio</th>
                            <th class="align-middle">Fecha de Fin</th>
                            <th class="align-middle">Generación de energía por día</th>
                            <th class="align-middle">Costo Total</th>
                            <th class="align-middle">Código del proyecto</th>
                            <th class="align-middle">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista %}
                        <tr>
                            <td class="align-middle">{{ item.idProyecto }}</td>
                            <td class="align-middle">{{ item.nombreProyecto }}</td>
                            <td class="align-middle">{{ item.inversion }}</td>
                            <td class="align-middle">{{ item.tiempoVida }}</td>
                            <td class="align-middle">{{ item.fechaInicio }}</td>
                            <td class="align-middle">{{ item.fechaFin }}</td>
                            <td class="align-middle">{{ item.electricidadGenerada }}</td>
                            <td class="align-middle">{{ item.costoTotal }}</td>
                            <td class="align-middle">{{ item.codigodelproyecto }}</td>
                            <td class="align-middle">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-danger btn-sm mx-1">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </button>
                                    <a class="btn btn-outline-primary btn-sm mx-1" href="/edicion/{{item.idProyecto}}">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                    <a class="btn btn-outline-success btn-sm mx-1" href="/lista/inversionistas/{{item.codigodelproyecto}}">
                                        <i class="bi bi-person-plus"></i> Inversionista
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
